.rb_primary{
  background-color: #ff7070;
 }

 .rb_primary_border{
   border-color:#ff7070ff;
 }

 input{
  background-color: transparent;
}

.skill
{
  div{
    margin-left: 4px;
    margin-right: 4px;
  }


}
