
<div class="deco">

</div>
<div nz-row style="width: 100%;padding-bottom: 10rem;overflow: scroll;">
  <div
    nz-col
  class="mt"
    [style]="
      'padding-left: 55px;padding-right: 55px;padding-top: 30px;margin-bottom:10rem '
    "
    [nzXl]="{ span: 5 }"
    [nzLg]="{ span: 8 }"
    [nzMd]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzXs]="{ span: 24 }"
  >
    <app-Manu></app-Manu>
  </div>
  <div
    nz-col
    class="mt"
    [style]="
      'padding-left: 30px;padding-right: 30px;padding-top: 30px; height: 700px;margin-bottom:10rem'
    "
    [nzXl]="{ span: 10 }"
    [nzLg]="{ span: 16 }"
    [nzMd]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzXs]="{ span: 24 }"
    style="height: 100px"
  >
    <router-outlet></router-outlet>
  </div>
  <div
    nz-col
    [style]="
      'padding-left: 30px;padding-right: 30px;padding-top: 30px;height: 700px;'
    "
    [nzXl]="{ span: 9 }"
    [nzLg]="{ span: 24 }"
    [nzMd]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzXs]="{ span: 24 }"
  >
  <div class="rb_title_text_size rb_title rb_title_color">
    <p>Profile section</p>
  </div>

  <div class="rb_title_text_size rb_title_color">
    <p>Fill up all your profile infomation</p>
  </div>
    <div class="rb_conner rb_card_container rb_card"></div>
  </div>
</div>
