
<div class="deco">

</div>
<div nz-row style="width: 100%;padding-bottom: 10rem;overflow: scroll;">
  <div
    nz-col
  class="mt"
    [style]="
      'padding-left: 55px;padding-right: 55px;padding-top: 30px;margin-bottom:10rem '
    "
    [nzXl]="{ span: 5 }"
    [nzLg]="{ span: 8 }"
    [nzMd]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzXs]="{ span: 24 }"
  >
    <app-Manu></app-Manu>
  </div>
  <div
    nz-col
    class="mt"
    [style]="
      'padding-left: 30px;padding-right: 30px;padding-top: 30px;min-height:750px;margin-bottom:10rem'
    "
    [nzXl]="{ span: 10 }"
    [nzLg]="{ span: 16 }"
    [nzMd]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzXs]="{ span: 24 }"
    style="height: 100px"
  >
    <router-outlet></router-outlet>
  </div>

  <!-- Resume begins  -->
  <div
    nz-col
    [style]="
      'padding-left: 30px;padding-right: 30px;padding-top: 30px;height: 750px;'
    "
    [nzXl]="{ span: 9 }"
    [nzLg]="{ span: 24 }"
    [nzMd]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzXs]="{ span: 24 }"
  >
  <div class="rb_title_text_size rb_title rb_title_color">
    <p>Profile section</p>
  </div>

  <div class="rb_title_text_size rb_title_color">
    <p>Fill up all your profile infomation</p>
  </div>

    <div class="rb_conner rb_card_container rb_card rb_cv_container" style="justify-content:center;">

      <div class="rb_cv">

        <div #content class="cv">
          <div nz-row>
            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">

              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="rb_flex_card">
                <div class="rb_profile_section">Name</div><div>william</div>
              </div>
              <div class="rb_flex_card">
                <div class="rb_profile_section">Surname</div><div>Rabopape</div>
              </div>
              <div class="rb_flex_card">
                <div class="rb_profile_section">Email</div><div>william@gmail.com</div>
              </div>
              <div class="rb_flex_card">
                <div class="rb_profile_section">linked</div><div>william.linkedin.co.za</div>
              </div>

            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12" style="padding-left:10px;margin-top: 10px;">
              Bio
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>
                Detail oriented professional with experience in SERVER MANUFACTURING, TRAINING DEVELOPMENT, COMPUTER HARDWARE TROUBLESHOOTING and MANAGEMENT. Seeking to take the next career step with respected organization dedicated to world class quality. Born leader with the ability to lead teams to process and manage large volumes without compromising service or quality.
              </div>
            </div>

          </div>
          <div nz-row>
            <div nz-col nzSpan="12" style="padding-left:10px;margin-top: 10px;">
              Work experience
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>
                Tswhane university of technology, Computer Engineering.
              </div>
              <div>
                01/03/2014  <span style="color: red;"> <b>|</b></span> present
              </div>
              <div>
                <strong>Summary</strong>
              </div>
              <div>
                Passionate executive with 9 years of experience. Seeking to use proven interpersonal skills to improve Mizner-Kirtley’s ROI. At XF SuperArc, raised average profit margin 28% in 10 months by slashing waste with an aggressive continuous improvement program
              </div>
            </div>

            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>
               University of technology Limpopo, Molecular Life Science.
              </div>
              <div>
                01/03/2014  <span style="color: red;"> <b>|</b></span> 01/03/2015
              </div>
              <div>
                <strong>Summary</strong>
              </div>
              <div>
                Passionate executive with 9 years of experience. Seeking to use proven interpersonal skills to improve Mizner-Kirtley’s ROI. At XF SuperArc, raised average profit margin 28% in 10 months by slashing waste with an aggressive continuous improvement program
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="12" style="padding-left:10px;margin-top: 10px;">
              Education
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>
                Tswhane university of technology, Computer Engineering.
              </div>
              <div>
                01/03/2014  <span style="color: red;"> <b>|</b></span> present
              </div>
              <div>
                <strong>Summary</strong>
              </div>
              <div>
                Passionate executive with 9 years of experience. Seeking to use proven interpersonal skills to improve Mizner-Kirtley’s ROI. At XF SuperArc, raised average profit margin 28% in 10 months by slashing waste with an aggressive continuous improvement program
              </div>
            </div>

            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>
               University of technology Limpopo, Molecular Life Science.
              </div>
              <div>
                01/03/2014  <span style="color: red;"> <b>|</b></span> 01/03/2015
              </div>
              <div>
                <strong>Summary</strong>
              </div>
              <div>
                Passionate executive with 9 years of experience. Seeking to use proven interpersonal skills to improve Mizner-Kirtley’s ROI. At XF SuperArc, raised average profit margin 28% in 10 months by slashing waste with an aggressive continuous improvement program
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="12" style="padding-left:10px;margin-top: 10px;">
              Skills
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>

              <div>
                <strong>Technical</strong>
              </div>
              <div>
                <p>Angular 2+, HTML, AWS ,CSS ,MVC , Springboot, Javascript</p>
              </div>
            </div>

            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>
                <strong>Technical</strong>
              </div>
              <div>
                <p>Communication+, Leadership, Teamwork ,Problem-solving ,Leadership , Responsibility, Javascript</p>
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="12" style="padding-left:10px;margin-top: 10px;">
              Awards
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>


              <div>
                <p>award name (01/03/2014) , Senior developer certificate award name (01/03/2014), AWS (01/03/2014)</p>
              </div>

            </div>


          </div>

          <div nz-row>
            <div nz-col nzSpan="12" style="padding-left:10px;margin-top: 10px;">
              Projects
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>

              </div>
              <div>
                Tswhane university of technology, Computer Engineering.
              </div>
              <div>
                01/03/2014  <span style="color: red;"> <b>|</b></span> present
              </div>
              <div>
                <strong>Summary</strong>
              </div>
              <div>
                Passionate executive with 9 years of experience. Seeking to use proven interpersonal skills to improve Mizner-Kirtley’s ROI. At XF SuperArc, raised average profit margin 28% in 10 months by slashing waste with an aggressive continuous improvement program
              </div>
            </div>

            <div nz-col nzSpan="12" class="rb_conner rb-col-border rb-text-default rb_cv_card">
              <div class="rb_flex_card rb_right rb_primary_text rb_controll_icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>
               University of technology Limpopo, Molecular Life Science.
              </div>
              <div>
                01/03/2014  <span style="color: red;"> <b>|</b></span> 01/03/2015
              </div>
              <div>
                <strong>Summary</strong>
              </div>
              <div>
                Passionate executive with 9 years of experience. Seeking to use proven interpersonal skills to improve Mizner-Kirtley’s ROI. At XF SuperArc, raised average profit margin 28% in 10 months by slashing waste with an aggressive continuous improvement program
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- Resume ends  -->

  <button nz-button nzType="primary" [nzSize]="size"  (click)="makePdf()" style="position: fixed;right:0;margin-right: 0%;"><i nz-icon nzType="download"></i></button>
</div>
