<nz-layout class="app-layout">
  <div nz-row style="height: 100%;">
    <div nz-col [style]="'padding-left: 25px;padding-right: 25px;padding-top: 30px;min-height:100%;'"
      [nzXl]="{ span: 5 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzXs]="{ span: 24 }">

      <app-Manu></app-Manu>
    </div>
    <div nz-col [style]="'padding-left: 30px;padding-right: 30px;padding-top: 30px;min-height:100%'"
      [nzXl]="{ span: 10 }" [nzLg]="{ span: 16 }" [nzMd]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzXs]="{ span: 24 }"
      style="height: 100px;background-color: green;">
<router-outlet></router-outlet>

    </div>
    <div nz-col [style]="'padding-left: 30px;padding-right: 30px;padding-top: 30px;min-height:100%'"
      [nzXl]="{ span: 9 }" [nzLg]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzXs]="{ span: 24 }"
      style="height: 100px;background-color: blue;">col-6</div>
  </div>


</nz-layout>
