<div class="rb_title_text_size rb_title rb_title_color">
  <p>Options</p>
</div>

<div class="rb_title_text_size rb_title_color">
  <p>Select the field that you want to fill</p>
</div>
<div style="width:100%;display:flex;margin-top: 1.6rem;">
  <div class="rb_card rb_button rb_conner"
    style="background-color: white; height: 85px;width: 50%;margin-right: 0.6rem; align-items: center; padding-top: 1rem;"
    routerLink='resume/'
    >
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clipRule="evenodd" />
      </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      profile
    </div>
  </div>

  <div class="rb_card rb_button rb_conner"
  style="background-color: white; height: 85px;width: 50%;margin-left: 0.6rem; align-items: center; padding-top: 1rem;"
    routerLink='resume/work'
  >
    <div class="rb_text_color" style="width:100%;text-align:center">

    <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
      <path fillRule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clipRule="evenodd" />
      <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z" />
  </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      work
    </div>
  </div>
</div>
<div style="width:100%;display:flex;margin-top: 1.6rem;">
  <div class="rb_card rb_button rb_conner"
    style="background-color: white; height: 85px;width: 50%;margin-right: 0.6rem; align-items: center; padding-top: 1rem;"
    routerLink='resume/education'
    >
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
      </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      Education
    </div>
  </div>

  <div class="rb_card rb_button rb_conner"
  style="background-color: white; height: 85px;width: 50%;margin-left: 0.6rem; align-items: center; padding-top: 1rem;"
  routerLink='resume/skills'
  >
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clipRule="evenodd" />
    </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      Skills
    </div>
  </div>
</div>

<div style="width:100%;display:flex;margin-top: 1.6rem;">
  <div class="rb_card rb_button rb_conner"
    style="background-color: white; height: 85px;width: 50%;margin-right: 0.6rem; align-items: center; padding-top: 1rem;"
    routerLink='resume/awards'
    >
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd" d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z" clipRule="evenodd" />
    </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      Awards
    </div>
  </div>

  <div class="rb_card rb_button rb_conner"
  style="background-color: white; height: 85px;width: 50%;margin-left: 0.6rem; align-items: center; padding-top: 1rem;"
  routerLink='resume/projects'
  >
    <div class="rb_text_color" style="width:100%;text-align:center">

    <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
    </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      Projects
    </div>
  </div>
</div>

<div class="rb_card rb_conner rb_button rb_text_color" style="padding:18px;margin-top: 3rem;min-height:30px; width: 100%; background:white; text-align: center;font-size: 13px;">
  Preview
</div>
