<div class="rb_col_title rb_text">
  <p>Options</p>
</div>

<div class="rb_col_info rb_text rb_sub_text">
  <p>Select the field that you want to fill</p>
</div>
<div style="width:100%;display:flex;margin-top: 1.6rem;">
  <div class="rb_card rb_button rb_conner"
    style="background-color: white; height: 85px;width: 50%;margin-right: 0.6rem; align-items: center; padding-top: 1rem;"
    routerLink='resume/'
    >
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clipRule="evenodd" />
      </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      profile
    </div>
  </div>

  <div class="rb_card rb_button rb_conner"
  style="background-color: white; height: 85px;width: 50%;margin-left: 0.6rem; align-items: center; padding-top: 1rem;"
    routerLink='resume/work'
  >
    <div class="rb_text_color" style="width:100%;text-align:center">

    <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
      <path fillRule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clipRule="evenodd" />
      <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z" />
  </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      work
    </div>
  </div>
</div>
<div style="width:100%;display:flex;margin-top: 1.6rem;">
  <div class="rb_card rb_button rb_conner"
    style="background-color: white; height: 85px;width: 50%;margin-right: 0.6rem; align-items: center; padding-top: 1rem;"
    routerLink='resume/education'
    >
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
      </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      Education
    </div>
  </div>

  <div class="rb_card rb_button rb_conner"
  style="background-color: white; height: 85px;width: 50%;margin-left: 0.6rem; align-items: center; padding-top: 1rem;"
  routerLink='resume/skills'
  >
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clipRule="evenodd" />
    </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      Skills
    </div>
  </div>
</div>

<div style="width:100%;display:flex;margin-top: 1.6rem;">
  <div class="rb_card rb_button rb_conner"
    style="background-color: white; height: 85px;width: 50%;margin-right: 0.6rem; align-items: center; padding-top: 1rem;">
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clipRule="evenodd" />
      </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      profile
    </div>
  </div>

  <div class="rb_card rb_button rb_conner"
  style="background-color: white; height: 85px;width: 50%;margin-left: 0.6rem; align-items: center; padding-top: 1rem;">
    <div class="rb_text_color" style="width:100%;text-align:center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clipRule="evenodd" />
    </svg>
    </div>
    <div class="rb_text_color" style='width:80%;margin: auto; text-align:center; word-wrap:break-word;font-size: 13px;'>
      profile
    </div>
  </div>
</div>

<div class="rb_card rb_conner rb_button rb_text_color" style="padding:18px;margin-top: 3rem;min-height:30px; width: 100%; background:white; text-align: center;font-size: 13px;">
  Preview
</div>
