/* You can add global styles to this file, and also import other style files */
.rb_card{
  box-shadow:0 7px 30px -10px rgba(162, 175, 181, 0.5);
}

.rb_conner{
  border-radius: 10px;
}

.rb_card_container{
  background-color: white;
    height: 100%;
    width: 100%;
    display: flex
}

body{
  background-color: rgb(244, 244, 244) !important;
}


.rb_title_text_size{
  font-size: 14px;
}

.rb_title{
  font-weight: 500;
}

.rb_title_color{
  color: whitesmoke;
}

