/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
.rb_card{
  box-shadow:0 7px 30px -10px rgba(162, 175, 181, 0.5);
}

.rb_conner{
  border-radius: 10px;
}

.rb_card_container{
  background-color: white;
    height: 100%;
    width: 100%;
    display: flex
}

body{
  background-color: rgb(244, 244, 244) !important;
}


.rb_title_text_size{
  font-size: 14px;
}

.rb_title{
  font-weight: 500;
}

.rb_title_color{
  color: whitesmoke;
}



/////////////////////forms/////////////////////////@at-root
.rb_card_container{
  background-color: white;
    width: 100%;
    display: flex
}


.rb_flex{
  display: flex;
  width: 100%;
  padding: 20px 30px;

  .rb_column:nth-child(1){
    margin-right: 0.5rem;
  }
  .rb_column:nth-child(2){
    margin-left: 0.5rem;
  }
  label{
    font-size: 16px;
    color: rgb(255, 112, 112);
  }

}

.rb_column{
  width: 50%;
}
.rb_field{
  width: 100%;
  padding: 20px 30px;
}


.ant-input-affix-wrapper {
  background-color: #eee !important;
}

.rb_primary{
  background-color: #ff7070;
 }

 .rb_primary_border{
   border-color:#ff7070ff;
 }
