/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
.rb_card{
  box-shadow:0 7px 30px -10px rgba(162, 175, 181, 0.5);
}

.rb_conner{
  border-radius: 10px;
}

.rb_card_container{
  background-color: white;
    height: 100%;
    width: 100%;
    display: flex
}

body{
  background-color: rgb(244, 244, 244) !important;
}


.rb_title_text_size{
  font-size: 16px;
  font-weight: 500;
}

.rb_title{
  font-weight: 900;
  font-size: 16px;
}

.rb_title_color{
  color: whitesmoke;
}



/////////////////////forms/////////////////////////@at-root
.rb_card_container{
  background-color: white;
    width: 100%;
    display: flex
}


.rb_flex{
  display: flex;
  width: 100%;
  padding: 20px 30px;

  .rb_column:nth-child(1){
    margin-right: 0.5rem;
  }
  .rb_column:nth-child(2){
    margin-left: 0.5rem;
  }
  label{
    font-size: 16px;
    color: rgb(255, 112, 112);
  }

}

.rb_column{
  width: 50%;
}
.rb_field{
  width: 100%;
  padding: 20px 30px;
  label{
    font-size: 16px;
    color: rgb(255, 112, 112);
  }
}


.ant-input-affix-wrapper {
  background-color: #eee !important;
}

.rb_primary{
  background-color: #ff7070;
 }
 .rb_primary_text{
   color: #ff7070;
 }
 .rb_primary_border{
   border-color:#ff7070ff;
 }




 .rb_chip{
   padding: 5px 10px;
   border-radius: 20px;
   color: rgb(124, 124, 124);
   background-color: rgb(222, 222, 222);
   font-size: 12px;
   width: 100px;
   display: flex;

   .rb_content{
     width: 70%;
     font-size: 14px;
     overflow: hidden;
   }

   .rb_svg{
     width: 30%;
   }
 }


 .rb_fields_spacing{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  height:750px !important;

 }

 .rb_manu_buttons{
  padding-left: 55px;padding-right: 55px;padding-top: 30px;margin-bottom:2rem;
 }
 .rb_mb{
  margin-bottom:10rem
 }

 @media (max-width: 1024px){
  // body{
  //   background-color: #ff7070 !important;
  // }

  .rb_title_color{
    color: rgb(73, 73, 73);
  }
 }

 @media(max-width: 1024px){

      .rb_fields_spacing{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      min-height:750px;
    }
    .rb_manu_buttons{
      padding-left: 10px;padding-right: 10px;padding-top: 30px;margin-bottom:2rem
    }
 }
